body {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(217deg, #e52a3f, #0f2b85);
    background-size: 400% 400%;
    animation: AnimationName 4s ease infinite;

    overflow: hidden;
    font-family: system-ui;
}

@keyframes AnimationName {
    0%{background-position:83% 0%}
    50%{background-position:18% 100%}
    100%{background-position:83% 0%}
}

section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;

    background: white;
    padding: 1rem;
    border-radius: 16px;
    width: 25vw;
}

div {
    display: flex;
    flex-direction: column;
}
label {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
input, select, option {
    padding: 8px 12px;
    border-radius: 10px;
    border: 2px solid black;
    outline: none;
}
select, option {
    text-align: center;
}
div.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
button {
    background: black;
    width: 110px;
    padding: 8px 18px;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
}

span {
    text-align: center;
    margin-top: 10px;
}